APP_NAME=Kamma
APP_ENV=local
APP_KEY=base64:H/A8IJRmGD5sMo/DkvLhHGa1Xy814XRToncmlEx1f3E=
APP_DEBUG=true
APP_URL=http://local.kamma.api

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=kammaapidb
DB_PORT=33065
DB_DATABASE=kamma_db
DB_USERNAME=kamma_user
DB_PASSWORD=kamma_pass

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

ADMIN_EMAIL=
MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=b0ec1d5f15b53b7737f9202cebd035c3-a2b91229-66db6d13
MAIL_ENCRYPTION=null

MAILGUN_DOMAIN=
MAILGUN_SECRET=
MAILGUN_ENDPOINT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
